===============
Unity generated
===============
Temp/
Library/
Build/
Builds/
Resources/Images/

=================
Blender generated
=================
*.blend[0-9]*

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.csproj
*.sln
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.apk

=========
Specifics
=========
.vs/
